@font-face{
  font-family: 'gill Sans Std Book';
  src:url('GillSansMTStd-Book.otf');
}

body{
  font-family: 'Gill Sans Std Book', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}


.test{
  position: relative;
  height: 50px;
  width: 100%;
}
.header-sp-container{
  position: absolute;
  z-index: 100;
  width: 100%;
  .header-sp--list{
    display: none;
    background: rgba(0,0,0,0.7);
    margin: -1px 0 -1px -38px;
    &_txt{
      display: block;
      list-style: none;
      border-bottom: 1px solid #fff;
      a{
        display: block;
        color: #fff;
        font-size: 14px;
        letter-spacing: 1.5px;
        padding: 19px 0 19px 24px;
      }
    }
  }
  .header-sp--menu{
    background: #fff;
    color: #656c6e;
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    &---title{
      font-size: 13px;
      letter-spacing: 1.3px;
      p{
        display: inline;
      }
    }
    &---list{
      &_img{
        width: 15px;
      }
    }
  }
}

.header-container{
  position: relative;
  .header-icon{
    &_sp{
      width: 50%;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &_pc{
      display: none;
    }
  }
  .header-pcmenu{
    display: none;
  }
  .header-bottom{
    &_arrow{
      position: absolute;
      top: 92.5%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 22px;
    }
    &_ray{
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}
#bg-slider {
  height: 832px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center bottom;
  overflow: hidden;
}
@media screen and(max-height: 700px){
  #bg-slider{
    height: 687px;
  }
}
@media screen and(min-width: 750px){
  .header-container{
    .header-icon{
      &_sp{
        width: 25%;
      }
    }
  }
}
@media screen and(min-width: 960px){
  .test{
    display: none;
  }
  .header-sp-container{
    display: none;
  }
  .header-container{
    .header-contents{
      display: flex;
      justify-content: space-between;
      padding: 50px 110px 50px 133px;
    }
    .header-icon{
      &_sp{
        display: none;
      }
      &_pc{
        display: inline-block;
        width: 50%;
        transition: all 0.2s;
        &:hover{
          opacity: 0.7;
        }
      }
    }
    .header-pcmenu{
      display: flex;
      &_list{
        display: block;
        margin-right: 42px;
        font-size: 14px;
        letter-spacing: 1.2px;
        margin-top: 15px;
        transition: all 0.2s;
        &:hover{
          border-bottom: 2px solid #fff;
        }
        a{
          display: block;
          padding-bottom: 8px;
          color: #fff;
        }
      }
    }
  }
  #bg-slider{
    height: 95vh;
    background-position:center center;
  }
}


.top{
  background-color: #f6f6f6;
  padding: 70px 25px;
  h2{
    font-size: 36px;
    color: #13191b;
    font-weight: normal;
    margin: 0;
    letter-spacing: 4px;
    padding-bottom: 30px;
  }
  p{
    font-size: 14px;
    color: #13191b;
    margin: 0;
    padding-bottom: 4px;
    line-height: 25px;
  }
  &-img{
    width: 150px;
    padding: 20px 0;
  }
}
@media screen and(min-width: 750px){
  .top{
    text-align: center;
    h2{
      font-size: 44px;
      text-align: center;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    p{
      font-size: 19px;
      text-align: left;
      display: inline-block;
      line-height: 35px;
      letter-spacing: 2px;
    }
    &-img{
      width: 200px;
    }
  }
}


.product{
  text-align: center;
  color: #13191b;
  padding: 45px 0;
  h2{
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 3px;
    margin-bottom: 5px;
  }
  &-img{
    width: 70px;
    padding-bottom: 22px;
  }
  &-contents{
    &--box{
      text-decoration: none;
      color: #13191b;
      transition: 0.25s all;
      &:hover{
        opacity: 0.7;
      }
      &---img img{
        width: 330px;
        padding-bottom: 0px;
      }
      &---title{
        text-align: left;
        padding: 0 55px 27px;
        font-size: 17px;
        font-weight: bold;
        letter-spacing: 3px;
        margin-top: -25px;
        line-height: 30px;
      }
    }
  }
  &-more{
    a{
      text-align: center;
      display: inline-block;
      padding: 14px 57px 14px 60px;
      border: 1px solid #000;
      font-size: 14px;
      color: #13191b;
      letter-spacing: 1.3px;
      transition: 0.25s;
      background: url(img/button-arrow.png) no-repeat;
      background-size: 8px;
      background-position: 140px 15px;
      &:hover{
        color: #fff;
        background: #000 url(img/button-arrow-hover.png) no-repeat;
        background-size: 8px;
        background-position: 140px 15px;
      }
    }
  }
}
@media screen and(min-width: 750px) and (max-width: 960px){
  .product{
    padding: 80px 40px;
    position: relative;
    &-title{
      text-align: left;
      h2{
        text-align: left;
      }
    }
    &-contents{
      &--box{
        display: flex;
        padding-bottom: 20px;
        &---img img{
          width: 220px;
        }
        &---title{
          font-size: 19px;
          line-height: 34px;
          padding: 20px 30px;
        }
      }
    }
    &-more{
      position: absolute;
      top: 110px;
      right: 40px;
    }
  }
}
@media screen and(min-width: 960px){
  .product{
    width: 100%;
    margin: 0 auto;
    max-width: 810px;
    padding: 80px 0;
    position: relative;
    &-title{
      text-align: left;
      padding-bottom: 40px;
    }
    &-contents{
      display: flex;
      flex-wrap: wrap;
      &--box{
        width: 33.333%;
        &---img img{
          width: 240px;
        }
        &---title{
          font-size: 19px;
          padding: 20px 33px 0px;
          margin-bottom: 50px;
          letter-spacing: 4px;
          line-height: 33px;
        }
      }
    }
    &-more{
      position: absolute;
      top: 110px;
      right: 0;
    }
  }
}


.news{
  color: #13191b;
  padding: 45px 20px 75px;
  background-color: #f6f6f6;
  h2{
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 3px;
    margin-bottom: 5px;
  }
  .product-title{
    text-align: center;
    padding-bottom: 20px;
  }
  &-contents{
    &--box{
    text-decoration: none;
    color: #13191b;
    transition: 0.25s all;
      &:hover{
        opacity: 0.7;
      }
      &---img img{
        width: 98%;
      }
      &---info{
        &_title{
          font-size: 18px;
          letter-spacing: 2px;
          line-height: 30px;
          margin: 10px 0 0px;
          padding-bottom: 10px;
        }
        &_time{
          display: block;
          font-size: 12px;
          color: #656c6e;
          padding-bottom: 50px;
        }
        &_txt{
          display: none;
        }
      }
    }
  }
  .product-more{
    text-align: center;
  }
}
@media screen and(min-width: 750px){
  .news{
    padding: 80px 0;
    &-container{
      width: 100%;
      margin: 0 auto;
      max-width: 810px;
      position: relative;
    }
    .product-title{
      text-align: left;
      padding-bottom: 60px;
    }
    &-contents{
      &--box{
        display: flex;
        margin-bottom: 50px;
        &---img{
          width: 40%;
        }
        &---info{
          width: 60%;
          padding-left: 20px;
          &_time{
            padding-bottom: 0;
          }
          &_txt{
            display: block;
            color: #656c6e;
            font-size: 11.5px;
            letter-spacing: 1.7px;
            line-height: 22px;
          }
        }
      }
    }
    .product-more{
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
@media screen and(min-width: 750px) and (max-width: 960px){
  .news{
    padding: 80px 40px;
    .product-title{
      padding-bottom: 30px;
    }
  }
}


.sns{
  padding: 35px 20px;
  position: relative;
  &-scroll{
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.25s all;
    img{
      width: 50px;
    }
    &:hover{
      transform: translate(-50%, -5px);
    }
  }
  &-btn{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .l_sns{
      display: inline-block;
      font-size: 13px;
      padding: 15px;
      letter-spacing: 1.5px;
      text-decoration: none;
      width: 125px;
      transition: 0.25s all;
      text-align: center;
    }
    .btn{
      padding: 5px;
    }
    &--fb a{
      border: 1px solid #4871a9;
      color: #4871a9;
      &:hover{
        background-color: #4871a9;
        color: #fff;
      }
    }
    &--tw a{
      border: 1px solid #70bdd3;
      color: #70bdd3;
      &:hover{
        background-color: #70bdd3;
        color: #fff;
      }
    }
    &--bm a{
      border: 1px solid #2f9bcd;
      color: #2f9bcd;
      &:hover{
        background-color: #2f9bcd;
        color: #fff;
      }
    }
    &--line a{
      border: 1px solid #8ec09d;
      color: #8ec09d;
      &:hover{
        background-color: #8ec09d;
        color: #fff;
      }
    }
  }
}
@media screen and(min-width: 750px){
  .sns{
    &-btn{
      .btn{
        padding-right: 25px;
      }
      &--fb{
        padding-left: 25px !important;
      }
      &--line{
        display: none;
      }
    }
  }
}


.footer-menu{
  background-color: #939899;
  ul{
    list-style: none;
    text-align: center;
    padding: 0;
    font-size: 0;
  }
  &--list{
    border-bottom: 1px solid #fff;
  }
  a{
    display: block;
    width: 100%;
    padding: 19px 0;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1.5px;
    transition: 0.25s all;
    &:hover{
      opacity: 0.7;
    }
  }
}
@media screen and(min-width: 750px){
  .footer-menu{
    ul{
      display: flex;
      justify-content: center;
    }
    li{
      border: hidden;
      padding: 35px 20px;
    }
    &--list{
      padding-right: 10px;
    }
    a{
      padding: 0;
    }
  }
}


.footer-container{
  background-color: #656c6e;
  text-align: center;
  padding: 30px 0;
  &--img{
    width: 90px;
    padding-bottom: 10px;
  }
  &--txt{
    color: #fff;
    font-size: 10px;
    letter-spacing: 1.3px;
    line-height: 20px;
  }
}
@media screen and(min-width: 750px){
  .footer-container{
    display: flex;
    justify-content: center;
    &--img{
      padding-top: 5px;
      transition: 0.25s all;
      &:hover{
        opacity: 0.7;
      }
    }
    &--txt{
      padding-left: 17%;
      padding-top: 30px;
      br{
        display: none;
      }
    }
  }
}
